.margin-title{
    margin-top: 25px;
}

.font{
    margin-left: 18px;
    font-family: '././Fonts/proxima-nova-condensed-light.otf';
}

.font-header{
     font-size: 20px;
}

.font-nav{
     font-size: 30px;
}

.btn-add{
 margin-right: 0%;
}

.header{
    margin-top: 2%;
}